.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.brand {
  position: -webkit-sticky;
  z-index: 1;
  position: sticky;
  top: 0;
  height: 60px;
  background: #036943;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 130px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a,
.sidebar .my_btn {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* .sidebar a.active {
  background-color: #04aa6d;
  color: white;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: #ccc;
  color: #fff !important;
  text-decoration: none;
} */

div.content {
  margin-left: 130px;
  padding: 1px 16px;
  background: #04aa6d;
  height: 100vh;
  color: #fff;
}
